.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .song-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  audio {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  p {
    margin: 5px 0;
  }
  
  @media (max-width: 600px) {
    h1 {
      font-size: 2rem;
    }
  }